/* Custom styles */
.hidden {
  display: none;
}

.show {
  display: block;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.card-container {
    perspective: 1000px;
}

.card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.mobile-nav-visible {
  transform: translateX(0);
}

.card-container:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}
.film-card {
    position: relative;
    width: 100%;
}

.poster-image {
    transition: filter 0.3s ease;
}

.poster-overlay {
    cursor: pointer;
}

.film-card:hover .poster-overlay,
.film-card:active .poster-overlay {
    background-opacity: 70%;
    opacity: 1;
}

.film-card:hover .admin-controls,
.film-card:focus-within .admin-controls {
    opacity: 1;
}

.bookmark-icon {
    color: #9ca3af; /* Серый для неавторизованных */
}

.bookmark-icon.bookmarked {
    color: #dc2626; /* Красный для удаления */
}

.bookmark-icon.unbookmarked {
    color: #10b981; /* Зеленый для добавления */
}

@media (min-width: 640px) { /* Таблетки: 3 карточки */
    .film-card {
        max-width: 32%;
        margin: 0 0.5%;
    }
}

@media (min-width: 1024px) { /* ПК: 5 карточек */
    .film-card {
        max-width: 19%;
        margin: 0 0.5%;
    }
}

@media (max-width: 639px) { /* Мобильные: полная ширина */
    .film-card {
        max-width: 100%;
    }
}
