/* Custom styles */
.hidden {
  display: none;
}

.show {
  display: block;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.card-container {
    perspective: 1000px;
}

.card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.mobile-nav-visible {
  transform: translateX(0);
}

.card-container:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}
